{% include 'head.html' %}
{% include 'navbar.html' %}

<!--================Breadcrumb Area =================-->



<section class="breadcrumb_area blog_banner_two">
    <div class="overlay bg-parallax" data-stellar-ratio="0.8" data-stellar-vertical-offset="0" data-background=""></div>
    <div class="container">
        <div class="page-cover text-center">
            <h2 class="page-cover-tittle f_48">{{ product.category }}</h2>
            <ol class="breadcrumb">
                <li><a href="{% url 'home' %}">Home</a></li>
            </ol>
        </div>
    </div>
</section>
<!--================Breadcrumb Area =================-->

<!--================Blog Area =================-->

<!-- Post Content-->
<main>

    <h1 class="visually-hidden"></h1>



    <div class="b-example-divider"></div>

    <div class="container col-xxl-8 px-4 py-5">
        <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
            <div class="col-10 col-sm-8 col-lg-6">
                <img src="{{ product.image.url }}" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes"
                    width="700" height="500" loading="lazy">
            </div>
            <div class="col-lg-6">
                <h1 class="display-5 fw-bold lh-1 mb-3">{{ product.name }}</h1>
                <p class="lead">{{ product.description }}.</p>

            </div>

        </div>
    </div>
    <hr>
    {% if product.is_sale %}

    <div class="b-example-divider"></div>
    <div class="container py-3">
        <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
            <h1 class="display-4 fw-normal">Prix</h1>
        </div>
        <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">

            <div class="col">
                <div class="card mb-4 rounded-3 shadow-sm border-primary">
                    <div class="card-header py-3 text-white bg-primary border-primary">
                        <h4 class="my-0 fw-normal">{{ product.category }}</h4>
                    </div>
                    <div class="card-body">
                        <h1 class="card-title pricing-card-title">
                            $ <strike>{{ product.price }}</strike> &nbsp; $ {{ product.sale_price }}
                            <small class="text-muted fw-light">/mo</small>
                        </h1>
                        <ul class="list-unstyled mt-3 mb-4">
                            <li>30 users included</li>
                            <li>15 GB of storage</li>
                            <li>Phone and email support</li>
                            <li>Help center access</li>
                        </ul>
                        <a href="{% url 'reserver_summary' %}">
                            <button type="button" class="w-50 btn btn-lg btn-primary">Reservez</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% else %}

    <div class="b-example-divider"></div>
    <div class="container py-3">
        <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
            <h1 class="display-4 fw-normal">Prix</h1>
        </div>
        <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">

            <div class="col">
                <div class="card mb-4 rounded-3 shadow-sm border-primary">
                    <div class="card-header py-3 text-white bg-primary border-primary">
                        <h4 class="my-0 fw-normal">{{ product.category }}</h4>
                    </div>
                    <div class="card-body">
                        <h1 class="card-title pricing-card-title">
                            $ {{ product.price }}
                            <small class="text-muted fw-light">/mo</small>
                        </h1>
                        <ul class="list-unstyled mt-3 mb-4">
                            <li>30 users included</li>
                            <li>15 GB of storage</li>
                            <li>Phone and email support</li>
                            <li>Help center access</li>
                        </ul>
                        <a href="{% url 'reserver_summary' %}"><button type="button"
                                class="w-100 btn btn-lg btn-primary">Contact us</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% endif %}

    <div class="b-example-divider"></div>



</main>

<hr>
<br>




<!--================Blog Area =================-->



<!--================ start footer Area  =================-->

{% include 'footer.html' %}